body
        {
            background-color: #edf6f9;
        }
        .container
        {   width: 90%;
            margin: auto;
            /* border: 1px solid red; */
            margin-top: 30px;
        }  
        .head
        {
            display: flex;
            justify-content: space-between;
        }   
        .account
        {
            width: 8rem;
            height: 3rem;
            /* border: 1px solid red; */
            border-radius:40px ;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        .page
        {
            width: 2rem;
            height: 2rem;
            /* border: 1px solid red; */
            border-radius:50% ;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            font-weight: bold;
        }
        .content

        {
            display: grid;justify-content: center;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(2,1fr);
            grid-row-gap: 20px;
            grid-column-gap: 40px;
            margin-left: 50px;
        }
        .content > div{
            width: 16rem;
            height: 20rem;
            /* border: 1px solid red; */
            border-radius: 20px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            padding: 10px 10px;
        }
        img
        {
            width: 2.5rem;
            height: 2.5rem;
            margin-top: 18px;
        }
        .content-head
        {
            display: flex;
            justify-content: space-around;
        }
        li{
            text-transform: uppercase;
            margin-top: 20px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }